* {
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.1s linear;
}

.toolbarRoot {
  display: flex;
  flex-direction: column;

  grid-area: 1 / 1 / 3 / 2;

  & > button {
    margin: 0px;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: none;
  }
}

/* .div1 {
}
.div2 {
  grid-area: 1 / 1 / 3 / 2;
}
.div3 {
  grid-area: 1 / 3 / 3 / 4;
}
.div4 {
  grid-area: 2 / 2 / 3 / 3;
} */
