* {
  transition: all 0.1s linear;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.formField {
  display: flex;
  flex-direction: row;

  gap: 10px;

  label {
    width: 112px;
  }

  input {
    border-radius: 0px;
    border-width: 2px;
    font-size: 20px;
    width: 320px;
    border: 4px solid black;

    &:focus {
      border: 4px solid #80f;
      outline: none;
    }
  }

  button {
    background: #f80;
    color: #fff;
    font-size: 32px;
    padding: 4px 20px;

    border: none;

    &:hover,
    &:focus {
      background-color: #f93;
    }

    &:active {
      background-color: #fa5;
    }
  }
}

.fieldList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
 