* {
  transition: all 0.1s linear;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.root {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.createField {
  display: flex;
  flex-direction: row;

  gap: 10px;

  input {
    border-radius: 0px;
    border-width: 2px;
    font-size: 20px;
    width: 320px;
    border: 4px solid black;

    &:focus {
      border: 4px solid #80f;
      outline: none;
    }
  }

  button {
    background: #f80;
    color: #fff;
    font-size: 32px;
    padding: 4px 20px;

    border: none;

    &:hover,
    &:focus {
      background-color: #f93;
    }

    &:active {
      background-color: #fa5;
    }
  }
}

.boardList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boardEntry {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  gap: 10px;

  background: #d8d8d8;
  padding: 8px;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  color: #000;

  &:hover {
    background: #c8c8c8;
  }

  &:active {
    background: #bbb;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin: 0;
    flex: 1;
    color: #555;
    text-overflow: ellipsis;
    width: 200px;
    margin: 0;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
  }
}
