.sideBarBlock {
  .objectList {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 240px;
  }

  .objectListElement {
    display: flex;
    height: 32px;
    align-items: center;
    h1 {
      font-size: 20px;
      font-weight: normal;
      margin: 0px;
    }
  }

  .buttonCnt {
    /* gap: 8px; */
    button {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
  }
}
