.sideBarRoot {
  grid-area: 1 / 3 / 3 / 4;
  display: flex;
  flex-direction: column;
}

.sideBarRoot {
  .sideBarBlock {
    padding: 12px;
    border-bottom: 2px solid #222;
  }

  .sideBarBlock h1 {
    margin-top: 0px;
  }

  .colorList {
    display: flex;
    flex-wrap: wrap;
  }

  .colorButton {
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin: 4px;
    border: 1px solid #aaa;
    box-sizing: border-box;
  }

  .colorButton.active {
    border: 4px solid #aaa;
    box-sizing: border-box;
  }

  .colorButton.colorTransparent {
    background-color: #fff;
    &::before {
      content: 'X';
      color: red;
      font-size: 38px;
    }
  }

  .sizeContainer {
    width: 100%;
    box-sizing: border-box;
    padding: 4px;
  }

  .sizeSlider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 8px; /* Specified height */
    background: #aaa; /* Grey background */
    outline: none;
    opacity: 0.7;
    margin: 0px;
    box-sizing: border-box;
    /* border-radius: 50%; */
  }

  /* Mouse-over effects */
  .sizeSlider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  .sizeSlider::-webkit-slider-thumb,
  .sizeSlider::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #f0f; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


}
